
.padding-10{
  padding: 10px !important;
}

.circle-block{
  width: 100px !important;
  height: 100px !important;
  margin: 0 auto;
}

.padding-vertical-10{
  padding-top:10px !important;
  padding-bottom:10px !important;
}

.padding-vertical-15{
  padding-top:15px !important;
  padding-bottom:15px !important;
}

.margin-horizontal-10{
  margin-left: 5px !important;
  margin-right: 5px !important;
}
